
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <h1 class="text-white">DASHBOARD</h1>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">Total Accounts</h5>
                <h6 class="text-center">1</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5>Total Wallet Amounts</h5>
                <h6 class="text-center">100,000</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">Total Purchase Till Date</h5>
                <h6 class="text-center">190,000</h6>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <a href="#"><div class="card" style="min-height: 600px">
                        <img src="/images/chris-wilson.png" alt="Alternate Text" width="350" height="300" class="mx-auto" />
            <h4 class="text-center">AKINNUBI ABIOLA SYLVESTER</h4>
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="text-center">Currency:NGN</h4>
                </div>
                <div class="col-sm-6">
                    <h4 class="text-center"> Balance: 50,565.91</h4>
                </div>
            </div>
            </div></a>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6">
                <a href="#">
                    <div class="card" style="min-height: 200px">
                        <i class="fas fa-5x fa-credit-card text-center"></i>
                        <h3 class="text-center">Fund Wallet</h3>
                        
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#">
                    <div class="card" style="min-height: 200px">
                        <i class="fa fa-5x fas fa-chart-line text-center"></i>
                        <h3 class="text-center">My Data History</h3>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <a href="#">
                    <div class="card" style="min-height: 200px">
                        <i class="fa fa-5x fas fa-wifi text-center"></i>
                        <h3 class="text-center">Buy Data</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#">
                    <div class="card" style="min-height: 200px">
                        <i class="fa fa-5x fas fa-chart-line text-center"></i>
                        <h3 class="text-center">For Friends</h3>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <a href="#">
                    <div class="card" style="min-height: 200px">
                        <i class="fa fa-5x fas fa-chart-line text-center"></i>
                        <h3 class="text-center">Buy SMS</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#">
                    <div class="card" style="min-height: 200px">
                        <i class="fa fa-5x fas fa-chart-line text-center"></i>
                        <h3 class="text-center">Upload Proof</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

